* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin: 1rem auto;
}
.App {
  text-align: center;
}

.margin {
  padding: 1rem;
  border: 1px solid #aaa;
}

.table-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}
